/********************************************************************************************************************************************
*********************************************************** TABLE OF CONTENTS ***************************************************************
********************************************************************************************************************************************/
/*
    1. ROOT VARIABLES
        1.1 Colors
        1.2 Text Size

    2. DEFAULT STYLES
        2.1 Default page styling

    3. ADDED FONTS

    4. IMAGES / ICONS

    5. TYPOGRAPHY
        5.1 Font family styling
        5.2 Font color styling
        5.3 Generic text styling
        5.4 Custom fonts
        5.5 Typography media queries

    6. HEADER

    7. FOOTER

    8. MENU PAGE

    9. MEDIA QUERIES
        9.1 Laptop View
        9.2 Tablet View
        9.3 Mobile View
*/


/********************************************************************************************************************************************
************************************************************ 1. ROOT VARIABLES **************************************************************
********************************************************************************************************************************************/
:root {

    /* ----------------- 1.1 Colors ----------------- */
    --white-salt: #EDEFEF;
    --rose-white: #FFFAFA;
    --white-dove: #F0EFE7;
    --titan-white: #EEEEFF;
    --greek-villa: #F0EBE3;

    --white-100: #e6e6e6;
    --white-200: #cccccc;
    --white-300: #b3b3b3;
    --white-400: #999999;

    --gray-500: #808080;

    --black-600: #666666;
    --black-700: #4d4d4d;
    --black-800: #333333;
    --black-900: #1a1a1a;

    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;

    --parisian-night: #323441;
    --cool-black: #151922;
    --crow: #0D0907;
    --black-chesnut: #252321;
    --basalt-black: #4D423E;

    /* Color Palette */
    --pal-primary: #000;
    --pal-secondary: #000;
    --pal-tertiary: #000;

    --pal-red: #ff0000;
    --pal-red-light: #ff8080;
    --pal-red-dark: #800000;

    --pal-orange: #ff6600;
    --pal-orange-light: #ffb380;
    --pal-orange-dark: #803300;

    --pal-yellow: #ffff00;
    --pal-yellow-light: #ffff80;
    --pal-yellow-dark: #808000;

    --pal-green: #00cc00;
    --pal-green-light: #4dff4d;
    --pal-green-dark: #004d00;

    --pal-blue: #0000ff;
    --pal-blue-light: #8080ff;
    --pal-blue-dark: #000080;

    --pal-purple: #bf00ff;
    --pal-purple-light: #df80ff;
    --pal-purple-dark: #600080;

    --pal-pink: #ff1aff;
    --pal-pink-light: #ff99ff;
    --pal-pink-dark: #b300b3;

    /* ---------------- 1.2 Text Size --------------*/
    --txt-10: 0.625rem;
    --txt-12: 0.75rem;
    --txt-14: 0.875rem;
    --txt-16: 1rem;
    --txt-20: 1.25rem;
    --txt-24: 1.5rem;
    --txt-28: 1.75rem;
    --txt-32: 2rem;
    --txt-36: 2.25rem;
    --txt-40: 2.5rem;
    --txt-48: 3rem;
}



/********************************************************************************************************************************************
*********************************************************** 2. DEFAULT STYLES ***************************************************************
********************************************************************************************************************************************/

/* ------------------- 2.1 Default page styling ------------------- */
*{
    /* Removes the default spacing applied by browsers */
    margin: 0;
    padding: 0;
    /* Sets a consistent default font for all text elements */
    font-family: 'Poppins', sans-serif;
    /* Ensures padding and borders are included within an element's width and height */
    box-sizing: border-box;
}
*, *::before, *::after {
    /* Ensures border-box styling is applied to pseudo elements as well */
    box-sizing: border-box;
}

a {
    /* Removes default styling for hyperlinks */
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    /* Set background color for entire site */
    /* background: #404040; */
    background: #333333;
    /* Set default text color for entire site */
    color: #fff;
}



/********************************************************************************************************************************************
************************************************************ 3. ADDED FONTS *****************************************************************
********************************************************************************************************************************************/
@font-face {
    font-family: 'Kepo';
    src: local('Kepo'),
         url('./fonts/Kepo.ttf') format('truetype');
}

@font-face {
    font-family: 'Signature';
    src: local('Signature'),
         url('./fonts/TheSignature.ttf') format('truetype');
}

@font-face {
    font-family: 'Athletic';
    src: local('Athletic'),
         url('./fonts/Athletic.ttf') format('truetype');
}

@font-face {
    font-family: 'Volkorn';
    src: local('Volkorn'),
         url('./fonts/Volkorn.ttf') format('truetype');
}

@font-face {
    font-family: 'VolkornSemibold';
    src: local('VolkornSemibold'),
         url('./fonts/VolkornSemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda';
    src: local('Ananda'),
         url('./fonts/Ananda.ttf') format('truetype');
}

@font-face {
    font-family: 'Quelque';
    src: local('Quelque'),
         url('./fonts/Quelque.ttf') format('truetype');
}

@font-face {
    font-family: 'Swansea';
    src: local('Swansea'),
         url('./fonts/Swansea.ttf') format('truetype');
}

@font-face {
    font-family: 'SwanseaBold';
    src: local('SwanseaBold'),
         url('./fonts/SwanseaBold.ttf') format('truetype');
}


/********************************************************************************************************************************************
*********************************************************** X. GENERIC STYLES ***************************************************************
********************************************************************************************************************************************/
.shadow4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.shadow8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.shadow12 {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.shadow16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.shadow20 {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}



/********************************************************************************************************************************************
*********************************************************** 4. IMAGES / ICONS ***************************************************************
********************************************************************************************************************************************/

/* ------------------- 4.1 Images ------------------- */
.recipe-card-photo {
    height: 200px;
    width: 230px;
    object-fit: cover;
    border-bottom-right-radius: 10px;
}

.recipe-photo {
    height: 215px;
    width: 230px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* ------------------- 4.2 Icons ------------------- */

/* ------------------- 4.3 Image/Icon Media Queries ------------------- */
/* LAPTOP VIEW */
@media only screen and (max-width: 1540px) {

}

/* TABLET VIEW */
@media only screen and (max-width: 821px) {

}

/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

    .recipe-card-photo {
        height: 130px;
        width: 180px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .recipe-photo {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
}



/********************************************************************************************************************************************
************************************************************** 5. TYPOGRAPHY ****************************************************************
********************************************************************************************************************************************/

/* ------------------- 5.1 Font Family Styling ------------------- */
.roboto {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
}

/* ------------------- 5.2 Font Color Styling ------------------- */
.color-white {
    color: #fff!important;
}

/* ------------------- 5.3 Generic Text Styling ------------------- */
.subtext {
    font-size: 0.938rem;
    color: #d9d9d9;
}

.value-highlight {
    font-size: 1rem;
    color: #ff8533;
    font-weight: bold;
    background-color: #595959;
    padding: 4px 6px;
    border-radius: 4px;
}

/* ------------------- 5.4 Custom Font Styling ------------------- */
.kepo-h1-orange {
    font-family: Kepo !important;
    font-weight: 300;
    font-size: 4.5rem!important;
    line-height: 1.3!important;
    letter-spacing: 0.075em!important;
    color: rgba(255, 102, 0, 0.3);
}

.kepo-h3-orange {
    font-family: Kepo !important;
    font-weight: 300;
    font-size: 2.25rem!important;
    line-height: 1.3!important;
    letter-spacing: 0.075em!important;
    color: rgba(255, 102, 0, 0.9);
}

.signature-h3-orange {
    font-family: Signature !important;
    font-size: 4rem!important;
    font-weight: 500!important;
    color: rgba(255, 102, 0, 0.9);
}

/* ------------------- 5.5 Typography Media Queries ------------------- */
/* LAPTOP VIEW */
@media only screen and (max-width: 1540px) {

}

/* TABLET VIEW */
@media only screen and (max-width: 821px) {

}

/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

    .kepo-h1-orange {
        font-family: Kepo !important;
        font-weight: 300;
        font-size: 4.625rem!important;
        line-height: 1.3!important;
        letter-spacing: 0.075em!important;
        color: rgba(255, 102, 0, 0.25);
    }

    .kepo-h3-orange {
        font-family: Kepo !important;
        font-weight: 300;
        font-size: 1.5rem!important;
        line-height: 1.3!important;
        letter-spacing: 0.075em!important;
        color: rgba(255, 102, 0, 0.9);
    }
}



/********************************************************************************************************************************************
************************************************************** 6. HEADER ********************************************************************
********************************************************************************************************************************************/
.kepo-nav-link {
    font-family: Kepo !important;
    font-weight: 300;
    font-size: 1rem!important;
    line-height: 1.3!important;
    letter-spacing: 0.075em!important;
    /* color: rgba(255, 102, 0, 0.95); */
}


/********************************************************************************************************************************************
************************************************************** 7. FOOTER ********************************************************************
********************************************************************************************************************************************/



/********************************************************************************************************************************************
************************************************************** 8. MENU PAGE *****************************************************************
********************************************************************************************************************************************/
.particles-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.recipe-card {
    background: linear-gradient(to right, rgba(255, 102, 0, 0.1) 0%, rgba(255, 102, 0, 0.1) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-size 0.3s ease;
    position: relative;
    z-index: 0;
}
.recipe-card:hover {
    background-size: 100% 100%;
}

.mySwiper img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background-color: #ff6600 !important;
}


/********************************************************************************************************************************************
*********************************************************** 9. MEDIA QUERIES ***************************************************************
********************************************************************************************************************************************/

/* LAPTOP VIEW */
@media only screen and (max-width: 1540px) {

}

/* TABLET VIEW */
@media only screen and (max-width: 821px) {

}

/* MOBILE VIEW */
@media only screen and (max-width: 600px) {

}